<p id="notice"><%= notice %></p>

<h1>Channels</h1>
<div class="row">
  <div class="col-md-4"><b>Name</b></div>
  <div class="col-md-4"><b>Description</b></div>
  <div class="col-md-4"><b>Operations</b></div>
</div>
<br>
<% @channels.each do |channel| %>
<div class="row">
  <div class="col-md-4"><%= channel.name %></div>
  <div class="col-md-4"><%= channel.description %></div>
  <div class="col-md-4">
    <!-- <%= link_to 'Show', channel %> -->
    <%= link_to 'Edit', edit_channel_path(channel) %>
    <%= link_to 'Destroy', channel, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div><br>
<% end %>
<%= link_to 'New Channel', new_channel_path %>
